*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.app {
max-width: 720px;
margin: 40px auto;
padding: 0 16px;
}

h1{
font-size: 24px;
margin-bottom: 16px;
}
.search {
display: flex;
gap: 8px;
}
.search input{
  flex: 1;
  padding: 10px 12px;
  border: 1px solid darkgreen;
  border-radius: 10px;
}
.search button {
padding: 10px 14px;
border: 0;
border-radius: 10px;
background-color: darkgreen;
color: rgba(0, 0, 0, 0.521);
cursor: pointer;
}
.search button:hover {
  background-color: peru;
}
.error {
color: red;
margin: 6px 0;
}
.list {
list-style-type: none;
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 20px;
}
.list li {
border: 3px dotted rgb(230, 173, 50);
padding: 12px;
border-radius: 10px;
}
strong {
color: darkcyan;
}